<h1>Create a New Event</h1>

<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :date %>
  <%= form.datetime_local_field :date %>

  <%= form.submit 'Create Event' %>
<% end %>

<%= link_to 'Back', events_path %>
